QikAChat.xcodeproj/project.xcworkspace/xcuserdata/rambhawan.xcuserdatad/UserInterfaceState.xcuserstate
QikAChat.xcodeproj/xcuserdata/rambhawan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
QikAChat/Images.xcassets/AppIcon.appiconset/.DS_Store
QikAChat/Images.xcassets/LaunchImage.launchimage/.DS_Store